<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% if seoTitle %}{{ seoTitle }}{% elsif title %}{{ title }}{% endif %} | {{siteMetadata.title}}</title>
    <meta name="description" content="{% if seoDescription %}{{ seoDescription }}{% else %}{{ content | strip_html | slice: 0, 120 }}...{% endif %}">

    <style>:root{--max-width:800px;--size:5;--fox-o-w:600;--fox-o-h:814;--fox-aspect:calc(var(--fox-o-w)/var(--fox-o-h));--unit:calc((var(--size) / var(--fox-o-h)) * 10px);--primary-color:rgb(219,47,47);--fore-color:rgb(64,64,64);--fore-color-dim:rgba(64,64,64,.2);--fox-shape:polygon(0 0,35.66% 26.289%,64.333% 26.289%,100% 0,100% 26.289%,0 100%);--fox-width:calc(var(--fox-o-w) * var(--unit));--fox-height:calc(var(--fox-o-h) * var(--unit));--aspect-ration:16/9;color:var(--fore-color);font-family:Georgia,'Times New Roman',Times,serif}*{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box}strong{font-weight:800}em{font-style:oblique}img{max-width:100%;height:auto}a{color:var(--primary-color);border-bottom:1px solid var(--primary-color);text-decoration:none}p{margin:2vh 0 2vh 0}html{font-family:Inter,system-ui,sans-serif;font-weight:400;font-size:1.2rem;text-size-adjust:100%}h1,h2,h3{margin-top:2vh}h1{font-size:2.2rem}h2{font-size:2rem}h3{font-size:1.8rem}body{display:flex;flex-direction:column;height:100vh;padding:0;margin:0;line-height:1.5;letter-spacing:.02rem;margin:0}header{border-bottom:1px solid rgba(0,0,0,.2);flex:1 1 0}footer{margin-top:1rem;border-top:1px solid rgba(0,0,0,.2);justify-self:flex-end;flex:1 1 0}footer .content,header .content{display:flex;justify-content:space-between;align-items:center;flex-direction:row}footer .content{align-items:center}footer .content .menu{display:flex;align-items:center}main{margin-top:2vh;flex:50 0 0}header .content,main .content,footer .content{position:relative;margin:auto auto;max-width:var(--max-width);padding:0 20px}.menu{font-size:1rem}.menu a{margin:0 5px}a.social{border:none}a.social svg{position:relative;top:5px;max-width:1.2rem;max-height:1.2rem;width:1.2rem;height:1.2rem}.logo{font-size:1.2rem;word-spacing:.1rem;margin-bottom:1rem}.logo a{color:var(--fore-color);text-decoration:none;border:none}.fox{position:relative;height:var(--fox-height);width:var(--fox-width);background-color:var(--primary-color);shape-outside:var(--fox-shape);clip-path:var(--fox-shape);transform:translate(calc(40 * var(--unit)),calc(220 * var(--unit)));z-index:2;display:inline-block}ul,ol{margin:2vh 0 2vh 0}ul{display:table;list-style:none;list-style-position:outside}ol{display:table;list-style-position:outside}ol li{margin-left:1.5rem;margin-bottom:.5rem}ul>li{position:relative;padding-left:1.5rem;margin-bottom:.5rem}ul>li::before{display:block;float:left;position:relative;margin-left:-1.3rem;top:.3rem;content:'';background-color:var(--fore-color-dim);width:calc(16px * var(--fox-aspect));height:16px;min-width:calc(16px * var(--fox-aspect));min-height:16px;max-width:calc(16px * var(--fox-aspect));max-height:16px;shape-outside:var(--fox-shape);clip-path:var(--fox-shape)}blockquote{padding-left:1rem;font-style:oblique;border-left:3px solid rgba(0,0,0,.2)}code{padding:1px;border-bottom:1px dashed rgba(0,0,0,.5);font-family:monospace}pre code{display:block;border:1px solid rgba(0,0,0,.1);background:rgba(0,0,0,.1);font-family:monospace}table{border-collapse:collapse;width:100%}td,th{border:1px solid #999;padding:.5rem;text-align:left}thead{background-color:rgba(219,47,47,1);color:#fff}tbody tr:nth-child(even){background:rgba(219,47,47,.05)}picture+cite{font-size:.8rem;font-style:oblique;text-align:center;margin:0;padding:0;display:block;color:var(--fore-color)}picture+cite a{color:var(--fore-color);border-color:var(--fore-color)}@media (max-width:320px){:root{--size:3}.logo{font-size:1rem}.menu{font-size:.8rem}}@media (max-width:550px){header .content{flex-direction:column;justify-content:center}.menu{margin-bottom:1rem}}code[class*="language-"],pre[class*="language-"]{color:#f8f8f2;background:none;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:.9em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*="language-"]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}pre[class*="language-"]{background:#272822}.token.comment{color:slategray}.token.punctuation{color:#f8f8f2}.token.function{color:#e6db74}</style>

    <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/css/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/style.css">
        <link href="/css/prism.css" rel="stylesheet">
    </noscript>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ siteMetadata.analytics.google.trackingID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ siteMetadata.analytics.google.trackingID }}');
    </script>
</head>
<body>
    <header>
        <div class="content">
            <div class="logo"><a href="/">Rheinard <div class="fox"></div> Korf</a></div>
            <div class="menu">
                <!--<a href="/web3">Web3 Development</a>-->
                <a href="/all">All The Things</a>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            {% if title and hideTitle == false or hideTitle == nil %}<h1>{{title}}</h1>{% endif %}
            {{content}}
        </div>
    </main>
    <footer><div class="content">
        <div class="colophon">&copy;2020-2021 Rheinard Korf</div>
        <div class="menu">
            <a href="{{siteMetadata.social.twitter}}" class="social twitter" aria-label="Twitter Link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs/><path fill="#444" d="M32 6.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6C25.7 3.8 24 3 22.2 3c-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.6-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 3 1.8 6.5 2.9 10.2 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.2-1 2.3-2.1 3.2-3.4z"/></svg></a>
            <a href="{{siteMetadata.social.github}}" class="social github" aria-label="Github Link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs/><path fill="#444" fill-rule="evenodd" d="M16 .4C7.2.4 0 7.6 0 16.4c0 7.1 4.6 13.1 10.9 15.2.8.1 1.1-.3 1.1-.8v-2.7c-4.5 1-5.4-2.1-5.4-2.1-.7-1.8-1.8-2.3-1.8-2.3-1.5-1 .1-1 .1-1 1.6.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3.1-1 .6-1.7 1-2.1-3.6-.4-7.3-1.8-7.3-7.9 0-1.7.6-3.2 1.6-4.3-.2-.4-.7-2 .2-4.2 0 0 1.3-.4 4.4 1.6 1.3-.4 2.6-.5 4-.5s2.7.2 4 .5C23.1 6.6 24.4 7 24.4 7c.9 2.2.3 3.8.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9.6.5 1.1 1.5 1.1 3v4.4c0 .4.3.9 1.1.8C27.4 29.5 32 23.5 32 16.4c0-8.8-7.2-16-16-16z" clip-rule="evenodd"/></svg></a>
            <a href="{{siteMetadata.social.linkedin}}" class="social linkedin" aria-label="LinkedIn Link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs/><path fill="#444" d="M30.7 0H1.3C.6 0 0 .6 0 1.3v29.3c0 .8.6 1.4 1.3 1.4h29.3c.7 0 1.3-.6 1.3-1.3V1.3C32 .6 31.4 0 30.7 0zM9.5 27.3H4.7V12h4.8v15.3zM7.1 9.9c-1.5 0-2.8-1.2-2.8-2.8 0-1.5 1.2-2.8 2.8-2.8 1.5 0 2.8 1.2 2.8 2.8 0 1.6-1.3 2.8-2.8 2.8zm20.2 17.4h-4.7v-7.4c0-1.8 0-4-2.5-4s-2.8 1.9-2.8 3.9v7.6h-4.7V12H17v2.1h.1c.6-1.2 2.2-2.5 4.5-2.5 4.8 0 5.7 3.2 5.7 7.3v8.4z"/></svg></a>
        </div>
    </div>
    </footer>
</body>
</html>
